%section#jobs
  .row
    .large-12.columns
      %h1
        Sign up
  .row
    .large-8.columns
      .row.collapse
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: true, autofocus: true, placeholder: 'Enter your email', label: false 
            = f.input :password, required: true, placeholder: 'Password (min 8 characters) ', label: false 
            = f.input :password_confirmation, required: true, placeholder: 'Password confirmation', label: false 
          .form-actions
            = f.button :submit, "Sign up", :class => "a button left"
      = link_to "Already have an account? Log in here.", new_session_path(resource_name)
    .large-4.columns
      .panel
        %h3 Why Sign Up?
        %br/
        %p Nooga startups is a job board & directory for the startup community in Chattanooga.

        %p Signing up allows you to post jobs, join our community & more! 
