.row
  .small-2.columns
    %h2.buzz-out
      %a{href: "/"} N
  .small-10.columns
    %ul.inline-list
      %li= link_to "About", pages_about_path
      %li= link_to "Jobs", jobs_path  
      %li= link_to "Places", pages_places_path
      %li= link_to 'Twitter', "http://twitter.com/noogastartups"
      - if user_signed_in?
        %li 
          %a{href: "/users/edit"} | 
            = image_tag current_user.gravatar_url(:size => 30)
      - else
        %li
